<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info', user: @user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'form', book: @new_book %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>Book detail</h2>
  		<table class='table　table-hover table-inverse'>
  		  <tr>
          <td class="col-md-4"><%= link_to(@book.user) do %>
            <%= image_tag @book.user.get_profile_image, size:"50x50" %><br>
            <%= @book.user.name %>
            <% end %>
          </td>
          <td class="col-md-2"><%= link_to @book.title, @book %></td>
          <td class="col-md-2"><%= @book.body %></td>
          <% if @user == current_user %>
            <td><%= link_to 'Edit', edit_book_path(@book), class: "btn btn-sm btn-success" %></td>
            <td><%= link_to 'Destroy', @book, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
          <% end %>
          <%= render 'favorites/favorite', books: @books, book: @book %>
        </tr>

        <td>
          <% @book.book_comments.each do |book_comment| %>
            <div class="row">
            <%= image_tag book_comment.user.get_profile_image, size:"50x50" %>
            <%= book_comment.user.name %>
            <%= book_comment.comment %>
            <% if book_comment.user == current_user %>
              <%= link_to "destroy", book_book_comment_path(book_comment.book, book_comment), method: :delete, class: "btn btn-danger"  %>
            <% end %>
            </div>
          <% end %>
        </td>
        <td>
            <%= form_with model: [@book, @book_comment] do |f| %>
              <%= f.text_area :comment, style: "width:100%", rows: "4" %>
              <%= f.submit "送信する" %>
            <% end %>
        </td>
      </table>
    </div>
  </div>
</div>